.middle {
    overflow:hidden;
    margin-bottom:140px;
}
.middle .title h3 {
    font-size: 47.5px;
    color:#8f9299;
    font-weight: normal;
    text-align: center;
    margin: 19px 0 35px;
}
.middle .sidebar {
    width:280px;
    float: left;
}
.middle .sidebar h3 {
    padding: 11px 0 8px;
    color:#8f9299;
    font-size:20px;
    border-left:6px solid #e03c2d;
    width: 188px;
    text-align:center;
    margin-bottom:14px;
}
.middle .sidebar ul li {
    width:196px;
    border:2px solid #8f9299;
    background:#8f9299;
    margin-bottom: 30px;
}
.middle .sidebar ul li a {
    color:#fff;
    font-size:20px;
    text-align: center;
    font-weight:bolder;
    line-height:42px;
}
.middle .sidebar ul li:hover {
    background:transparent;
    border-color: #e03c2d;
}
.middle .sidebar ul li:hover a {
    color:#e03c2d;
}
.middle .sidebar .current {
    background:transparent;
    border-color: #e03c2d;
}
.middle .sidebar .current a{
    color:#e03c2d;
}
.middle .text {
    width:710px;
    float: right;
    padding: 0 105px;
}
.middle .text h3 {
    font-size:30px;
    color:#283140;
    text-align: center;
    margin-bottom:30px;
}
.middle .text p {
    font-size:14px;
    color:#7d7d87;
    text-indent: 2em;
    line-height:23px;
    margin-bottom:26px;
}
