.container {
    overflow: hidden;
    margin: 0 auto;
    width: 1200px;
}
.header {
    background: #156c57;
}
.header .logo {
    float: left;
    margin-left: 135px;
}
.header .logo .pic{
    margin: 11px 0;
    float: left;
}
.header .logo .text {
    margin-left: 15px;
    float: left;
}
.header .logo .text h3{
    margin-top: 30px;
}
.header .logo .text h3 a{
    font-size: 24px;
    color: #fefefe;
}
.header .logo .text p {
    margin-top: 7px;
}
.header .logo .text p a{
    font-size: 14px;
    color: #fefefe;
}
.header .nav {
    float: left;
    margin-left: 110px;
    margin-top: 30px;
}
.header .nav ul {
    overflow: hidden;
    margin-left: -57px;
}
.header .nav ul li {
    float: left;
    margin-left: 70px;
}
.header .nav ul li a {
    font-size: 14.5px;
    color: #fefefe;
    line-height: 50px;
    width: 65px;
    text-align: center;
}
.header .nav ul .current {
    background: url(../images/index_nav.png) no-repeat ;
    background-position: 0 100%;
}
.header .nav ul li:hover {
    background: url(../images/index_nav.png) no-repeat ;
    background-position: 0 100%;
}


.focusBox { position: relative; width:100%; height:450px; overflow: hidden; }
    .focusBox .pic{ position:relative; z-index:0; }
    .focusBox .pic img { width:100%; height:450px; display: block; }
    .focusBox .hd { width:100%; position: absolute; bottom: 45px; text-align: center; font-size:0; z-index:1; }
    .focusBox .hd li{margin: 0 10px; background:url(../images/dot.png) no-repeat 0 -22px; height: 20px; overflow: hidden; width: 20px; cursor: pointer;
    display:inline-block; *display:inline; zoom:1;  _background:url(../images/dot8.png) no-repeat 0 -16px;
    }
    .focusBox .hd .on{ background-position:0 0; }


.footer {
    overflow:hidden;
    background:#272626;
    height:210px;
}
.footer .left {
    float: left;
    width:666px;
}
.footer .left ul {
    overflow:hidden;
    margin-left:20px;
}
.footer .left ul li {
    float: left;
    line-height:25px;
    margin:93px 72px 0 0;
}
.footer .left ul li a {
    font-size:14.5px;
    color:#fff;
}
.footer .right {
    float: left;
    border-left: 2px solid #fffaf1;
    margin:19px 0;
    margin-left:17px;
    padding-bottom: 4px;
}
.footer .right ul {
    overflow:hidden;
}
.footer .right ul li{
    margin:19px 16px 32px;
    float: left;
}
.footer .right p{
    line-height:26px;
    font-size:14px;
    color:#fff;
    margin-left:16px;
}
